*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans Medium";
}

html, body{
    width: 100;

    background-color: black;
}

#main{
    background-color: black;
}


.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
}

#minicircle{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 10px;
    height: 10px;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
    background-color: #fff; 
}

.nav{
    width: 100%;
    height: 88px;
    padding: 20px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
}

.nav a{
    color: white;
    text-decoration: none;
}

.heading{
    margin-top: 30px;
}

.bounding{
    width: fit-content;
    overflow: hidden;
   
}

.boundingelem{
    transform: translateY(100%);
}



.heading h1{
    margin-left: 33px;
    opacity: 0.6;
    line-height: 0.9;
    font-size: 10vw;
    font-family: "General Sans Medium";
    font-weight: 500;
}



.heading #secondh1{
    display: inline-block;
    margin-left: 210px;
    
}

.basedtext{
    
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.basedtext h5{
    
    margin-top: 10px;
    text-align: right;
    font-size: 15px;
}

.smallheadings{
    margin-top: 100px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.smallheadings h5{
    font-size: 1.2vw;
    margin-top: 0.5vw;
    text-align: end;
    text-transform: uppercase;
}

.herofooter{
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    padding-left: 30px;
    padding-right: 30px;
}

.footerconariner{
    display: flex;
    justify-content: space-between;
}

.herofooter a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.herofooter .iconset{
    display: flex;
    justify-content: end;
    gap: 5px;
}

.herofooter #protopie{
    display: flex;
    justify-content: center;
}

.herofooter .circle{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #888;
    
    
}

.herofooter i{
    color: black;
}

.second{
    color: #fff;
    width: 100%;
    height: fit-content;
    margin-top: 10vw;
    padding-right: 10vw ;
    padding-left: 2.3vw;
}

.elem{
    position: relative;
    width: 100%;
    border-top: 1px solid #888;
    padding: 3.6vw; 
    padding-left: 0;
    padding-right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elem h2{
    text-transform: uppercase;
    font-size: 6.7vw;
    font-weight: 500;
    opacity: 0.7;
}

.elem h5{
    font-size: 1.2vw;
    font-weight: 200;
}

.elemlast{
    border-bottom: 1px solid #888;
}

.elem img{
    opacity: 0;
    pointer-events: none;
    height: 140%;
    z-index: 999;
    position: absolute;
    transform: translate(-50%, -50%);
}

.about{
    margin-top: 5vw;
    color: white;
    padding: 10vw 10vw;
    background-color: black;
    width: 100%;
    display: flex;
    align-items: start;
    gap: 5vw;
    padding-left: 35vw;
}

.about h5{
    text-transform: uppercase;
    opacity: 0.7;
    margin-bottom: 10px;
}

.about p{
    line-height: 1.7;
    font-size: 17px;
    margin-bottom: 3vw;
}

.textabout{
    width: 25rem;
}

.about a{
    text-decoration: none;
    color: white;
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    font-size: 15px;
}

.about img{
    width: 13vw;
}

.subscribe{
    color: white;
    padding: 1vw 2vw;
    padding-bottom: 8vw;
}

.subscribe h5{
    font-size: 1vw;
    text-transform: uppercase;
    opacity: 0.7;
    font-weight: 300;
}

.subscribe a{
    text-decoration: none;
    color: white;
    font-size: 1.01vw;
    text-transform: uppercase;
}

.footer{
    display: flex;
    padding: 14px 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footerleft{
    display: flex;
    gap: 20px;

}
.footerleft h5{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}

.footer a{
    color: white;
    text-decoration: none;
}

.footerright{
    display: flex;
    align-items: center;
    gap: 30px;
}